<div class="container">
  <div class="row">
    <div class="col s12 m6 l6 xl6">
      <ul class="collection">
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <img
                src="http://cdn.ndtv.com/tech/images/ola_cabs_auto_app_delhi_small.jpg"
                alt=""
                class="circle"
              />
              <span class="title"
                >Pizzana Express
                <i class="material-icons md-18" style="color:#E7711B"
                  >grade</i
                ></span
              >
              <p>
                Tingo Maria - Huánuco <br />
                Av. Raymondi N° 521
              </p>
            </div>
            <div class="col s2 m2 l2 xl2">
              <p class="secondary-content">
                <b style="color:black;"> S/. 30</b> <br>  <br>
                
                  <span>
                    <i class="material-icons" style="color:grey"
                      >directions_car</i
                    >
                  </span>
                 <small> 30 Min</small> 
               
              </p>
             
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col s12 m6 l6 xl6">
      <ul class="collection">
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <img
                src="http://cdn.ndtv.com/tech/images/ola_cabs_auto_app_delhi_small.jpg"
                alt=""
                class="circle"
              />
              <span class="title"
                >Pizzana Express
                <i class="material-icons md-18" style="color:#E7711B"
                  >grade</i
                ></span
              >
              <p>
                Tingo Maria - Huánuco <br />
                Av. Raymondi N° 521
              </p>
            </div>
            <div class="col s2 m2 l2 xl2">
              <p class="secondary-content">
                <b style="color:black;"> S/. 30</b> <br>  <br>
                
                  <span>
                    <i class="material-icons" style="color:grey"
                      >directions_car</i
                    >
                  </span>
                 <small> 30 Min</small> 
               
              </p>
             
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col s12 m6 l6 xl6">
      <ul class="collection">
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <img
                src="http://cdn.ndtv.com/tech/images/ola_cabs_auto_app_delhi_small.jpg"
                alt=""
                class="circle"
              />
              <span class="title"
                >Pizzana Express
                <i class="material-icons md-18" style="color:#E7711B"
                  >grade</i
                ></span
              >
              <p>
                Tingo Maria - Huánuco <br />
                Av. Raymondi N° 521
              </p>
            </div>
            <div class="col s2 m2 l2 xl2">
              <p class="secondary-content">
                <b style="color:black;"> S/. 30</b> <br>  <br>
                
                  <span>
                    <i class="material-icons" style="color:grey"
                      >directions_car</i
                    >
                  </span>
                 <small> 30 Min</small> 
               
              </p>
             
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col s12 m6 l6 xl6">
      <ul class="collection">
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s12 m6 l6 xl6">
              <img
                src="http://cdn.ndtv.com/tech/images/ola_cabs_auto_app_delhi_small.jpg"
                alt=""
                class="circle"
              />
              <span class="title"
                >Pizzana Express
                <i class="material-icons md-18" style="color:#E7711B"
                  >grade</i
                ></span
              >
              <p>
                Tingo Maria - Huánuco <br />
                Av. Raymondi N° 521
              </p>
            </div>
            <div class="col s2 m2 l2 xl2">
              <p class="secondary-content">
                <b style="color:black;"> S/. 30</b> <br>  <br>
                
                  <span>
                    <i class="material-icons" style="color:grey"
                      >directions_car</i
                    >
                  </span>
                 <small> 30 Min</small> 
               
              </p>
             
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
